Repository DanilSvechnikar/drone-detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, nbstripout, mypy

isort:
  name: isort
  entry: poetry run isort --settings-path pyproject.toml
  language: system

nbstripout:
  name: nbstripout
  description: Strip output from Jupyter and IPython notebooks
  entry: poetry run nbstripout
  language: python

mypy:
  name: mypy
  description: Check types
  entry: poetry run mypy --config-file pyproject.toml
  language: python

Updated notebooks
  demo/inference_jupyter.ipynb
  notebooks/augment_data.ipynb
  notebooks/markup_data.ipynb
  notebooks/splitting_data.ipynb
  notebooks/test_model.ipynb
  notebooks/train_model.ipynb
Due: nbstripout

Updated docker
  Dockerfile
  README.md
  config/inference.yaml
  requirements.txt
Due: none

Updated sources
  demo/inference.py
  drone_detection/__init__.py
  drone_detection/bbox_utils.py
  drone_detection/check_cuda.py
  drone_detection/config.py
  drone_detection/cuda_utils.py
  drone_detection/image_utils.py
  drone_detection/models_utils.py
Due: isort, mypy

Updated packages
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Update readme
  Makefile
  README.md
Due: none

Add dev.md
  DEVELOPMENT.md
Due: none

Delete shared
  drone_detection/shared/pl_model.py
  drone_detection/shared/train.py
  drone_detection/shared/train.yaml
  drone_detection/shared/utils.py
Due: isort, mypy

Clear git cache
  data/demo_data/test_5.mp4
  data/demo_data/test_image.jpg
Due: none

Change README.md
  README.md
Due: none

Moved inference.py
  README.md
  demo/inference_jupyter.ipynb
  inference.py
Due: isort, nbstripout, mypy

Path conditions:
  isort: any of: \.py$
  nbstripout: any of: \.ipynb$
  mypy: any of: \.py$
