Repository DanilSvechnikar/drone-detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, mypy, nbstripout

isort:
  name: isort
  entry: poetry run isort --settings-path pyproject.toml
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  additional_dependencies:
  - types-pyyaml

nbstripout:
  name: nbstripout
  entry: poetry run nbstripout
  language: python

install torch, ultralytics
  poetry.lock
  pyproject.toml
Due: mypy

check cuda
  drone_detection/checks_cuda.py
Due: isort, mypy

update ultralytics version
  .gitattributes
  .pre-commit-config.yaml
  Makefile
  README.md
  demo/.gitkeep
  demo/inference_model.ipynb
  docs/.gitkeep
  drone_detection/config.py
  poetry.lock
  pyproject.toml
Due: isort, mypy, nbstripout

install clearml
  .gitattributes
  .pre-commit-config.yaml
  Makefile
  README.md
  demo/.gitkeep
  demo/inference_model.ipynb
  docs/.gitkeep
  drone_detection/config.py
  poetry.lock
  pyproject.toml
Due: isort, mypy, nbstripout

Prepare data for train
  README.md
  notebooks/.gitkeep
  notebooks/prepare_data.ipynb
Due: mypy, nbstripout

Write readme.md
  .gitignore
  Makefile
  README.md
Due: mypy

Added train_model.ipynb
  notebooks/train_model.ipynb
Due: mypy, nbstripout

Added models_utils.py Added inferences to demo
  demo/inference_jupyter.ipynb
  demo/inference_py.py
  drone_detection/models_utils.py
Due: isort, mypy, nbstripout

Minor refactoring
  README.md
  drone_detection/check_cuda.py
  notebooks/train_model.ipynb
  poetry.lock
  pyproject.toml
Due: isort, mypy, nbstripout

Add hydra, omegaconf
  .gitignore
  README.md
  config/inference.yaml
  demo/inference.py
  demo/inference_jupyter.ipynb
  demo/inference_py.py
  drone_detection/config.py
  drone_detection/models_utils.py
  poetry.lock
  pyproject.toml
Due: isort, mypy, nbstripout

Add models
  .gitattributes
  models/.gitkeep
  models/yolov10n.pt
  models/yolov10s.pt
Due: mypy

Add test files
  .gitattributes
  .gitignore
  README.md
  data/demo_data/test_img.jpg
  data/demo_data/test_video.mp4
Due: mypy

Refactoring makefile and readme
  Makefile
  README.md
Due: mypy

Change readme
  README.md
Due: mypy

Train yolov10n on self-labeled data Test model
  README.md
  config/inference.yaml
  models/yolov10n.pt
  models/yolov10n_my-data.pt
  models/yolov10s.pt
  notebooks/test_model.ipynb
  notebooks/train_model.ipynb
Due: mypy, nbstripout

Install albumentations
  poetry.lock
  pyproject.toml
Due: mypy

Add WebCamera support
  config/inference.yaml
  demo/inference.py
  drone_detection/models_utils.py
Due: isort, mypy

Added augment
  drone_detection/augment_tools.py
  notebooks/augment_data.ipynb
  poetry.lock
  pyproject.toml
Due: isort, mypy, nbstripout

Add functions to augment
  drone_detection/augment_tools.py
  notebooks/augment_data.ipynb
  notebooks/train_model.ipynb
Due: isort, mypy, nbstripout

Added best model yolov10n
  .gitignore
  drone_detection/config.py
  models/yolov10n_best.pt
  notebooks/test_model.ipynb
Due: isort, mypy, nbstripout

Change inference Add test_img
  config/inference.yaml
  data/demo_data/test_img.jpg
  data/demo_data/test_video.mp4
  demo/inference_jupyter.ipynb
Due: mypy, nbstripout

Ref readme
  README.md
Due: mypy

Update README.md
  README.md
Due: mypy

Added yielding bbox coords
  config/inference.yaml
  demo/inference.py
  drone_detection/models_utils.py
Due: isort, mypy

Markup data with trained model
  notebooks/markup_data.ipynb
  notebooks/prepare_data.ipynb
Due: mypy, nbstripout

train model with new data
  notebooks/test_model.ipynb
  notebooks/train_model.ipynb
  poetry.lock
  pyproject.toml
Due: mypy, nbstripout

Train new model \ Added tracking with BoT-SORT \ Added resizing with aspect ratio preservation using padding
  config/inference.yaml
  data/demo_data/test_img.jpg
  demo/inference.py
  drone_detection/models_utils.py
  models/yolov10n_best.pt
Due: isort, mypy

minor refactoring
  config/inference.yaml
  demo/inference_jupyter.ipynb
  drone_detection/models_utils.py
  notebooks/augment_data.ipynb
  notebooks/markup_data.ipynb
  notebooks/splitting_data.ipynb
Due: isort, mypy, nbstripout

Added bbox rendering by highest probability
  README.md
  config/inference.yaml
  demo/inference.py
  demo/inference_jupyter.ipynb
  drone_detection/models_utils.py
Due: isort, mypy, nbstripout

Added new model yolov10s_best.pt
  config/inference.yaml
  data/demo_data/test_img.jpg
  demo/inference_jupyter.ipynb
  models/yolov10n_best.pt
  models/yolov10s_best.pt
  notebooks/train_model.ipynb
Due: mypy, nbstripout

Refactoring Docker
  .dockerignore
  Dockerfile
  Makefile
  config/inference.yaml
  demo/inference.py
  demo/inference_jupyter.ipynb
  drone_detection/models_utils.py
  poetry.lock
  pyproject.toml
Due: isort, mypy, nbstripout

Minor ref
  .gitattributes
  Dockerfile
  data/demo_data/test_5.mp4
  data/demo_data/test_image.jpg
  poetry.lock
  pyproject.toml
Due: mypy

lightning
  drone_detection/shared/pl_model.py
  drone_detection/shared/readme.md
  drone_detection/shared/train.py
  drone_detection/shared/train.yaml
  drone_detection/shared/utils.py
Due: isort, mypy

updated makefile
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  drone_detection/models_utils.py
  poetry.lock
  pyproject.toml
Due: isort, mypy

updated flake8
  .flake8
  .pre-commit-config.yaml
  drone_detection/__init__.py
  drone_detection/config.py
  poetry.lock
  pyproject.toml
Due: isort, mypy

Change dockerfile
  .flake8
  Dockerfile
  Makefile
  drone_detection/shared/pl_model.py
  drone_detection/shared/train.py
  poetry.lock
Due: isort, mypy

Clean trash
  .env.docker
  .gitattributes
  Makefile
  data/demo_data/test_5.mp4
  data/demo_data/test_image.jpg
  drone_detection/shared/readme.md
  models/yolov10n_best.pt
  models/yolov10s_best.pt
  poetry.lock
  pyproject.toml
Due: mypy

Add data
  .gitattributes
  data/demo_data/test_5.mp4
  data/demo_data/test_image.jpg
Due: mypy

Add model
  models/yolov10n_best.pt
Due: mypy

Path conditions:
  isort: any of: \.py$
  mypy: any file but: tests/
  nbstripout: any of: \.ipynb$
